

main {}

main .content {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    /* width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua; */
}


main .container {
    width: 80%;
    height: auto;

}

main .container .header-locsp{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.container .header-locsp .thuonghieu{
    margin-left: 30%;
}


.container .header-locsp select{
    width: 10rem;
    padding: 5px 0;
    margin: 0 15px;
    box-sizing: border-box;
}















.container .ctn-product-selling {
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.container .ctn-product-selling .products-items {
    width: 100%;
    background-color: rgb(255, 255, 255);


}

.container .ctn-product-selling h3 {
    width: 100%;
    height: 24px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 16px;

}

.container .ctn-product-selling .product-productTap {
    height: 32px;
    line-height: 32px;
    gap: 12px;
    transform: translateX(0px);
    display: inline-flex;
    white-space: nowrap;
    transition: all 0.5s ease-in-out 0s;
    min-width: 100%;
    margin-left: 15px;
}

.container .ctn-product-selling .product-productTap .active {
    color: rgb(10, 104, 255);
    border: 1px solid rgb(10, 104, 255);
    font-weight: 600;
}

.container .ctn-product-selling .product-productTap>* {

    flex-direction: row;
    padding: 0px 16px;
    height: 32px;
    background: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 227);
    border-radius: 16px;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    display: flex;
    text-align: center;
    color: rgb(39, 39, 42);
}

.container .ctn-product-selling .product-item {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.container .ctn-product-selling .product-item a {
    width: calc(100% / 6);
    margin-top: 10px;
    height: 300px;
    border: 1px solid rgb(235, 235, 240);
    border-radius: 15px;
    margin: 10px;

    text-decoration: none;
    cursor: pointer;
    background: rgb(255, 255, 255);
    /* border: 1px solid rgb(235, 235, 240); */
    border-radius: 8px;
    display: inline-table;
    /* 
    display: flex;
    position: relative;
 */
}

.container .ctn-product-selling .product-item a>span {
    /* display: flex;
    color: rgb(36, 36, 36);
    text-decoration: none;
    flex-direction: column; */

}

.container .ctn-product-selling .product-item .product-image {
    width: 100%;
    height: 140px;
    text-align: center;

}

.container .ctn-product-selling .product-item .product-image>img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.container .ctn-product-selling .product-item .product-genuine {
    width: 100%;
    height: 20px;
}

.container .ctn-product-selling .product-item .product-genuine img {
    width: 89px;
    height: 20px;
    margin-left: 10px;
}

.container .ctn-product-selling .product-item .product-name {
    /* width: 100%; */
    height: 48px;
    text-align: left;
    margin: 5px;

}

.container .ctn-product-selling .product-item .product-name h3 {
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: rgb(39, 39, 42);
    margin: 0px;
}

.container .ctn-product-selling .product-item .product-rating {
    width: 100%;
    height: 20px;
    text-align: left;

}


/* --------------------------- */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: 0;
    margin-left: 10px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 15px;
    color: rgba(10, 104, 255, 0.726);
    margin: 0 2px;

}

.rating label:before {
    content: "\2605";
}

.container .ctn-product-selling .product-item .product-price {
    width: 100%;
    height: 30px;
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(39, 39, 42);
    margin: 0px;
    padding-left: 10px;
    box-sizing: border-box;
}

.container .ctn-product-selling .product-item .product-button {
    display: flex;
    gap: 4px;
    border-top: 1px solid rgb(235, 235, 240);
    padding-top: 6px;
    padding-bottom: 8px;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
}

.container .ctn-product-selling .product-item .product-button img {
    width: 32px;
    height: 16px;
    max-width: 100%;

}

.container .ctn-product-selling .product-item .product-button span {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgb(128, 128, 137);
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: normal;
}

.ctn-product-selling .product-item .sls-carousel {
    width: 100%;
}

.ctn-product-selling .product-item .owl-stage {
    /* transform: translate3d(0, 0px, 0px) !important; */
    transition: all 0s ease 0s;
    width: 2897px;
}

.ctn-product-selling .product-item .owl-item {}

/* ------------------------------------------------------- */

.container .products-all {
    height: auto !important;
}


.container .products-all #btn-click {
    cursor: pointer;
    display: inline-block;
    width: 240px;
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(10, 104, 255);
    color: rgb(10, 104, 255);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    position: relative;
    left: 40%;
}

.container .products-all #btn-click:hover {
    background-color: rgba(0, 96, 255, 0.12) !important;
    opacity: 1 !important;
}

.container .products-all #btn-click:active {
    background-color: rgba(0, 96, 255, 0.24) !important;
    opacity: 1 !important;
}

.phantrang{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.phantrang *{
    margin: 0 5px;
}
.phantrang a:visited{
    color: rgb(0, 89, 255);
}